@page
@model Scarlat_Iuga_ProiectWEB.Pages.Produse.DetailsModel

<h1>Detalii produs</h1>

<p><b>Denumire:</b> @Model.Produs.Denumire</p>
<p><b>Preț:</b> @Model.Produs.Dimensiuni</p>
<p><b>Comanda ID:</b> @Model.Produs.Comanda?</p>

<a asp-page="Index">Înapoi</a>
