@page
@model Scarlat_Iuga_ProiectWEB.Pages.Materiale.EditModel

<form method="post">
    <input type="hidden" asp-for="Material.ID" />
    <input asp-for="Material.Denumire" />
    <input asp-for="Material.Pret" />
    <button>Salvează</button>
</form>
