@page
@model Scarlat_Iuga_ProiectWEB.Pages.Croitori.DetailsModel

<h1>Detalii croitor</h1>

<p><b>Nume:</b> @Model.Croitor.Nume</p>
<p><b>Specializare:</b> @Model.Croitor.Specializare</p>

<a asp-page="Index">Înapoi</a>
