@page
@model Scarlat_Iuga_ProiectWEB.Pages.Clients.DeleteModel

<h1>Delete Client</h1>

<h3>Are you sure?</h3>

<p>@Model.Client.Nume</p>

<form method="post">
    <input type="hidden" asp-for="Client.ID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index">Cancel</a>
</form>
