@page
@model Scarlat_Iuga_ProiectWEB.Pages.Comenzi.CreateModel

<h1>Adaugă comandă</h1>

<form method="post">

    <div class="form-group">
        <label>Data comandă</label>
        <input asp-for="Comanda.DataComanda" type="date" class="form-control" />
        <span asp-validation-for="Comanda.DataComanda" class="text-danger"></span>
    </div>

    <!-- Status implicit -->
    <input asp-for="Comanda.Status" type="hidden" value="Noua" />

    <div class="form-group">
        <label>Client</label>
        <select asp-for="Comanda.ClientID"
                asp-items="Model.ClientList"
                class="form-control">
        </select>
        <span asp-validation-for="Comanda.ClientID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Croitor</label>
        <select asp-for="Comanda.CroitorID"
                asp-items="Model.CroitorList"
                class="form-control">
        </select>
        <span asp-validation-for="Comanda.CroitorID" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Salvează</button>
</form>